<!DOCTYPE html>
<html>
  <head>
    <title>Roulette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= image_tag("restaurant-1724294_1280.png", size: "30x30", class: "image-main") %>
      <h1>LunchRoulette</h1>
    </header>
      <%= yield %>
  </body>
</html>
